/*DEFAULT*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

:root {
  --clr-white: #ececec;
  --clr-dark: #000000;
  --clr-gray: #969191;
  --clr-gray-dark: #555353;
  --clr-gold: #ffd700;
}

* {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--clr-dark);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--clr-white);
  border-radius: 20px;
  border: 3px solid var(--clr-dark);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--clr-white) var(--clr-dark);
}

html {
  scroll-behavior: smooth;
}

.c-1 {
  margin-top: 40px;
}

.titulo-1 {
  color: var(--clr-white);
  background-color: var(--clr-dark);
  font-size: 25px;
  padding: 0px;
  padding-left: 6px;
  padding-right: 6px;
  box-shadow: 0px 0px 5px 5px var(--clr-dark);
  border-radius: 15px 15px 0px 0px;
}

.cont1 {
  background-image: url(../imgs/spa-products-with-orchids.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 30rem;
  max-width: 100%;
  position: relative;
}

.texto-col8 {
  align-items: center;
  text-align: center;
  margin-top: 40px;
}

/* BOTON UP*/

.boton_up {
  position: fixed;
  text-align: center;
  bottom: 100px;
  right: 30px;
  background-color: var(--clr-dark);
  color: var(--clr-white);
  width: 50px;
  height: 35px;
  border-radius: 15px;
  border: 1px solid var(--clr-gray-dark);
  font-size: 20px;
  text-decoration: none;
  padding-bottom: 3px;
  cursor: pointer;
}

.boton_up:hover {
  background-color: var(--clr-white);
  color: var(--clr-dark);
  border: 1px solid var(--clr-white);
  box-shadow: 0px 0px 5px 5px var(--clr-white);
  font-size: 20px;
}

.p3 {
  position: fixed;
  text-align: center;
  width: auto;
  bottom: 2px;
  left: 20px;
  width: 280px;
  color: var(--clr-dark);
}

.p3:hover {
  background-color: #80808077;
  border-radius: 5px;
  color: var(--clr-white);
  box-shadow: -1px 2px 5px 3px var(--clr-dark);
  -webkit-box-shadow: -1px 2px 5px 3px var(--clr-dark);
  -moz-box-shadow: -1px 2px 5px 3px var(--clr-dark);
}

.boton-reset {
  color: var(--clr-white);
  font-size: 13px;
  background-color: #dc3546e3;
  padding: 8px;
  font-weight: bold;
  border: 1px solid #dc3546e3;
  border-radius: 5px;
  box-shadow: -1px 2px 5px 3px var(--clr-dark);
  -webkit-box-shadow: -1px 2px 5px 3px var(--clr-dark);
  -moz-box-shadow: -1px 2px 5px 3px var(--clr-dark);
}

.boton-reset:hover {
  background-color: #dc3545;
  border: 1px solid #dc3545;
  box-shadow: -1px 2px 5px 3px var(--clr-dark);
  -webkit-box-shadow: -1px 2px 5px 3px var(--clr-gray-dark);
  -moz-box-shadow: -1px 2px 5px 3px var(--clr-dark);
}

#calcu {
  background-color: var(--clr-gray-dark);
  color: var(--clr-white);
  border: 1px solid var(--clr-gray-dark);
  font-weight: bold;
}

#calcu:hover {
  color: var(--clr-white);
  background-color: var(--clr-dark);
  border: 1px solid var(--clr-dark);
}

.boton-volver {
  color: var(--clr-white);
  font-size: 13px;
  width: 150px;
  background-color: var(--clr-dark);
  padding: 8px;
  font-weight: bold;
  border: 1px solid var(--clr-dark);
  border-radius: 5px;
  box-shadow: -1px 2px 5px 3px var(--clr-dark);
  -webkit-box-shadow: -1px 2px 5px 3px var(--clr-gray-dark);
  -moz-box-shadow: -1px 2px 5px 3px var(--clr-gray-dark);
}

.boton-volver:hover {
  background-color: var(--clr-gray);
  border: 1px solid var(--clr-gray);
  box-shadow: -1px 2px 5px 3px var(--clr-dark);
  -webkit-box-shadow: -1px 2px 5px 3px var(--clr-gray-dark);
  -moz-box-shadow: -1px 2px 5px 3px var(--clr-gray);
}

@media (max-width: 900px) {
  .p3 {
    position: relative;
    margin-top: 15px;
    color: var(--clr-dark);
  }

  .p3 {
    margin: auto;
  }
}

@media (max-width: 780px) {
  .boton-reset {
    margin-top: 25px;
    font-size: 10px;
  }

  .boton-volver {
    font-size: 10px;
    width: 80px;
  }

  .boton_up {
    display: none;
  }
}

@media (max-width: 500px) {
  .titulo-1 {
    font-size: 15px;
  }
}

/*CALCULADORA*/

.calculadora {
  background-color: var(--clr-white);
  color: white;
  width: 350px;
  max-width: 100%;
  margin: auto;
  margin-bottom: 15px;
  padding: 1.5rem;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  box-shadow: -1px 2px 5px 3px var(--clr-dark);
  -webkit-box-shadow: -1px 2px 5px 3px var(--clr-dark);
  -moz-box-shadow: -1px 2px 5px 3px var(--clr-dark);
}

.pantalla {
  grid-column: 1 / -1;
  background-color: var(--clr-gray);
  padding: 1.5rem;
  font-size: 2rem;
  text-align: right;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
  box-shadow: -1px 2px 5px 3px var(--clr-dark);
  -webkit-box-shadow: -1px 2px 5px 3px var(--clr-gray-dark);
  -moz-box-shadow: -1px 2px 5px 3px var(--clr-gray);
}

.bot1 {
  background-color: var(--clr-gray);
  color: var(--clr-white);
  border: 0;
  padding: 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: -1px 2px 5px 3px var(--clr-dark);
  -webkit-box-shadow: -1px 2px 5px 3px var(--clr-gray-dark);
  -moz-box-shadow: -1px 2px 5px 3px var(--clr-gray);
}

.bot1:hover {
  color: var(--clr-white);
  background-color: var(--clr-gray-dark);
  box-shadow: -1px 2px 5px 3px var(--clr-dark);
  -webkit-box-shadow: -1px 2px 5px 3px var(--clr-gray);
  -moz-box-shadow: -1px 2px 5px 3px var(--clr-gray);
}

#cero {
  grid-column: span 2;
}

#igual {
  grid-row: span 2;
  background-color: #e6394a;
}

#igual:hover {
  background-color: #e65766;
}

.sombra-card {
  box-shadow: -1px 2px 5px 1px var(--clr-dark);
  -webkit-box-shadow: -1px 2px 5px 2px var(--clr-dark);
  -moz-box-shadow: -1px 2px 5px 1px var(--clr-gray-dark);
}

.input-sombra {
  box-shadow: -1px 2px 5px 3px var(--clr-dark);
  -webkit-box-shadow: -1px 2px 5px 3px var(--clr-gray-dark);
  -moz-box-shadow: -1px 2px 5px 3px var(--clr-gray-dark);
}

/*INTRO JS*/
.intro1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  z-index: 200;
  color: var(--clr-white);
  text-align: center;
  line-height: 90vh;
  font-family: "Bank Gothic", sans-serif;
  font-size: 45px;
  text-shadow: 2px 2px 2px var(--clr-gray-dark);
}

.intro1.display-none {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  z-index: -10;
  color: var(--clr-dark);
  text-align: center;
  line-height: 90vh;
  font-family: "Bank Gothic", sans-serif;
  font-size: 60px;
  text-shadow: 15px 15px 15px var(--clr-dark);
  transition: all 1s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.img-intro {
  width: 90px;
  height: 90px;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  background-color: #ffffff;
}
